.textWrapper {
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.textBlock {
  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
    text-align: center;
    font-size: var(--mantine-font-size-sm);
    line-height: var(--mantine-line-height-sm);
  }
}
