.textWrapper {
  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.textBlock {
  text-align: justify;

  @media (max-width: $mantine-breakpoint-xs) {
    max-width: 100%;
    font-size: var(--mantine-font-size-md);
    line-height: var(--mantine-line-height-sm);
    padding: 0 var(--mantine-spacing-lg);
  }
}
