.wrapper {
  position: relative;
  padding-top: rem(180px);
  padding-bottom: rem(130px);
  background-image: url("/src/assets/background_page_home.jpg");
  background-size: cover;
  background-position: center;
  scroll-margin-top: 80px;

  @media (max-width: $mantine-breakpoint-xs) {
    padding-top: rem(80px);
    padding-bottom: rem(50px);
  }
  margin-top: 56px;
}

.inner {
  position: relative;
  z-index: 1;
}

.title {
  font-weight: 800;
  font-size: rem(40px);
  letter-spacing: rem(-1px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  color: var(--mantine-color-white);
  margin-bottom: var(--mantine-spacing-xs);
  text-align: center;
  font-family: Greycliff CF, var(--mantine-font-family);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
    text-align: left;
  }
}

.highlight {
  color: var(--mantine-color-primary-0);
}

.description {
  color: var(--mantine-color-gray-0);
  text-align: center;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-md);
    text-align: left;
  }
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
  display: flex;
  justify-content: center;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.control {
  border-radius: var(--mantine-radius-xl);
  background: var(--mantine-color-primary-0);
  color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-lg);

  @mixin hover {
    background-color: #0e75b5;
    color: var(--mantine-color-white);
    text-decoration: none;
  }
}

.secondaryControl {
  color: var(--mantine-color-white);
  background-color: rgba(255, 255, 255, 0.4);

  @mixin hover {
    background-color: #313ae0;
  }
}
